
.container__grid--center{
    display: grid;
    place-items: center;
}

.absolute{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: grid;
    place-items: center;
}
.hide{
    opacity: 0;
    z-index: -1;

}
 
.show-in{
    animation: show-in .4s ease-in forwards;
}


@keyframes show-in{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}